.greeting {
    background: rgb(255,41,149);
background: linear-gradient(180deg, rgba(255,41,149,1) 23%, rgba(255,255,255,1) 66%);
    font-family: 'Bangers', cursive;
    font-size: 4rem;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    display: flex;
    height: 100%;
    justify-content: space-around;
    margin: 2rem;
}

.results_box {
    background-color: snow;
    border: 2px solid hotpink;
    border-radius: 0.4rem;
    padding: 0.75rem;
    width: 40%
}

.container_logo {
    background-image: url("https://i.dlpng.com/static/png/5309452-jotaro-kujo-one-minute-melee-fanon-wiki-fandom-powered-by-wikia-jotaro-kujo-png-800_800_preview.png");
    background-size: cover;
    width: 50%;
}

@supports (-webkit-text-stroke: 2px black) {
    .greeting {
      -webkit-text-stroke: 2px black;
    }
  }